.button {
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button:active {
    transform: scale(.9);
}

#play {
background-image: url(../img/play.svg);
}

#pause {
background-image: url(../img/pause.svg);
}

#backward {
background-image: url(../img/-10.svg);
}

#forward {
background-image: url(../img/+10.svg);
}